# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=user_db

# Redis
REDIS_PASSWORD=redis123

# Kafka
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181

# Elasticsearch
ELASTIC_PASSWORD=elastic123

# Ports
POSTGRES_PORT=5432
REDIS_PORT=6379
KAFKA_PORT=9092
ELASTIC_PORT=9200
KIBANA_PORT=5601
